doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Letter
    style.
      * {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: none;
        -webkit-text-resize: 100%;
        text-resize: 100%;
      }

      table td {
        border-collapse: collapse !important;
        font-family: Arial, Trebuchet MS;
      }
  body(style='margin:0;padding:0', bgcolor='#ffffff')
    table(cellpadding='0', border='0', cellspacing='0', align='center', bgcolor='#ffffff', width='600', style='padding:0;border:none;border-collapse:collapse;mso-table-lspace:0pt; mso-table-rspace:0pt;')
      tr
        td(border='0', style='border:none;')
          table(cellpadding='0', border='0', cellspacing='0', align='center', bgcolor='#f3f3f3', width='600', style='margin:0; padding:0;border:none;border-collapse:collapse;mso-table-lspace:0pt; mso-table-rspace:0pt;')
            tr
              td(border='0', height='20', style='border:none;')
            tr
              td(border='0', style='border:none;;')
                a(href='#', style='display:block;width:245px;margin:0 auto;text-align:center;')
                  img(src='images/logo-vertical.svg',wkidth="222px",height="63px", alt='')
            tr
              td(border='0', height='20', style='border:none;')
      tr
        td(border='0', style='border:none;')
          table(cellpadding='0', cellspacing='0', width='600', bgcolor='#ffffff', style='border:none;margin:0; padding:0;')
            tr
              td(colspan="3",border='0', height='20', style='border:none;')
            tr
              td(width='50', height='40', valign='middle', border='0', style='border:none;')
              td(border='0', style='border:none;font-size:15px;line-height:20px;color:#393939; -webkit-text-size-adjust:none;') Привествую, покупатель! Вы проходили процедуру регистрации на сайте
                a(href="#",style="text-decoration:none;color:#00a8e0") http://waterstore.com.ua
              td(width='50', border='0', style='border:none;')
            tr
              td(colspan="3",border='0', height='15', style='border:none;')
            tr
              td(colspan='3', border='0', style='border:none;')
                table(cellpadding='0', border='0', cellspacing='0', width='600px', bgcolor='#f3f3f3', style='background:#f3f3f3;margin:0; padding:0;border:none;border-collapse:collapse;')
                  tr
                    td(colspan="3",border='0', height='25', style='border:none;')
                  tr
                    td(width='50', border='0', style='border:none;')
                    td(border='0',align="center", style='border:none;padding:15px 0;color:#a6a6a6;font-size: 13px;line-height: 18px; -webkit-text-size-adjust:none;')
                      | Это письмо сгенерировано автоматически. Пожалуйста, не отвечайте на него.© «Вотерсторе», аквапарки от идеи до воплощения
                    td(width='50', border='0', style='border:none;')
                  tr
                    td(width='50', border='0', style='border:none;')
                    td(border='0',align="center", style='border:none;-webkit-text-size-adjust:none;')
                      img(src="images/logo-letter.png",alt="",width="83px",height="76px")
                    td(width='50', border='0', style='border:none;')
                  tr
                    td(colspan="3",border='0', height='20', style='border:none;')

