doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Letter
    style.
      * {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: none;
        -webkit-text-resize: 100%;
        text-resize: 100%;
      }

      table td {
        border-collapse: collapse !important;
        font-family: Arial, Trebuchet MS;
      }
  body(style='margin:0;padding:0', bgcolor='#ffffff')
    table(cellpadding='0', border='0', cellspacing='0', align='center', bgcolor='#ffffff', width='600', style='padding:0;border:none;border-collapse:collapse;mso-table-lspace:0pt; mso-table-rspace:0pt;')
      tr
        td(border='0', style='border:none;')
          table(cellpadding='0', border='0', cellspacing='0', align='center', bgcolor='#f3f3f3', width='600', style='margin:0; padding:0;border:none;border-collapse:collapse;mso-table-lspace:0pt; mso-table-rspace:0pt;')
            tr
              td(border='0', height='20', style='border:none;')
            tr
              td(border='0', style='border:none;;')
                a(href='#', style='display:block;width:245px;margin:0 auto;text-align:center;')
                  img(src='images/logo-vertical.svg',width="222px",height="63px", alt='')
            tr
              td(border='0', height='20', style='border:none;')
      tr
        td(border='0', style='border:none;')
          table(cellpadding='0', cellspacing='0', width='600', bgcolor='#ffffff', style='border:none;margin:0; padding:0;')
            tr
              td(colspan="3",border='0', height='20', style='border:none;')
            tr
              td(width='50', height='40', valign='middle', border='0', style='border:none;')
              td(border='0', style='border:none;font-size:15px;line-height:20px;color:#393939; -webkit-text-size-adjust:none;') Привествую, покупатель! Вы проходили процедуру регистрации на сайте
                a(href="#",style="text-decoration:none;color:#00a8e0") http://waterstore.com.ua
              td(width='50', border='0', style='border:none;')
            tr
              td(colspan="3",border='0', height='15', style='border:none;')
            tr
              td(width='50',  valign='middle', border='0', style='border:none;')
              td( border='0', style='border:none;')
                table(cellpadding='0', border='0', cellspacing='0', width='500px', bgcolor='none', style='background:none;margin:0; padding:0;border:none;border-collapse:collapse;')
                  tr
                    td(border="0",style="border:1px solid #00a8e0;border-radius:3px;padding:20px 40px;")
                      table(cellpadding='0', border='0', cellspacing='0', width='100%', bgcolor='none', style='background:none;margin:0; padding:0;border:none;border-collapse:collapse;')
                        tr
                          td(border="0",style="borde:none",valign="middle")
                            img(src="images/ico-password.svg")
                          td(border="0",style="borde:none",valign="middle")
                            ul(style="display:inline-block;padding:0;margin:0;list-style:none;")
                              li(style="margin-bottom:10px;font-size:16px;line-height:20px;color:#393939;font-weight:bold") Ваш новый пароль:
                              li(style="font-size:14px;line-height:18px;color:#393939;")
                                b pass:
                                | 9379992abc

              td(width='50', valign='middle', border='0', style='border:none;')
            tr
              td(colspan="3",border='0', height='15', style='border:none;')
            tr
              td(width='50', height='40', valign='middle', border='0', style='border:none;')
              td(border='0', style='border:none;font-size:15px;line-height:20px;color:#393939; -webkit-text-size-adjust:none;') Вы можете изменить пароль в
                a(href="#",style="text-decoration:none;color:#00a8e0;text-decoration:underline;") личном кабинете.
              td(width='50', border='0', style='border:none;')
            tr
              td(colspan="3",border='0', height='30', style='border:none;')
            tr
              td(colspan='3', border='0', style='border:none;')
                table(cellpadding='0', border='0', cellspacing='0', width='600px', bgcolor='#f3f3f3', style='background:#f3f3f3;margin:0; padding:0;border:none;border-collapse:collapse;')
                  tr
                    td(colspan="3",border='0', height='25', style='border:none;')
                  tr
                    td(width='50', border='0', style='border:none;')
                    td(border='0',align="center", style='border:none;padding:15px 0;color:#a6a6a6;font-size: 13px;line-height: 18px; -webkit-text-size-adjust:none;')
                      ul(style="display:inline-block;padding:0;margin:0;list-style:none;")
                        li(style="display:inline-block;margin:0 8px")
                          a(href="tel:(044) 502 01 02",style="font-size:15px;line-height:18px;color:#393939;text-decoration:none;")
                            img(src="images/ico-phone.svg",style="display:inline-block;vertical-align:-3px;margin-right:10px")
                            | (044) 502 01 02
                        li(style="display:inline-block;margin:0 8px")
                          a(href="tel:(067) 777 82 19",style="font-size:15px;line-height:18px;color:#393939;text-decoration:none;")
                            img(src="images/ico-kievstar.svg",style="display:inline-block;vertical-align:-3px;margin-right:10px")
                            | (067) 777 82 19
                        li(style="display:inline-block;margin:0 8px")
                          a(href="tel:(066) 777 78 42",style="font-size:15px;line-height:18px;color:#393939;text-decoration:none;")
                            img(src="images/ico-vodafone.svg",style="display:inline-block;vertical-align:-3px;margin-right:10px")
                            | (066) 777 78 42

                    td(width='50', border='0', style='border:none;')
                  tr
                    td(width='50', border='0', style='border:none;')
                    td(border='0',align="center", style='border:none;padding:15px 0;color:#a6a6a6;font-size: 13px;line-height: 18px; -webkit-text-size-adjust:none;')
                      | Это письмо сгенерировано автоматически. Пожалуйста, не отвечайте на него.© «Вотерсторе», аквапарки от идеи до воплощения
                    td(width='50', border='0', style='border:none;')
                  tr
                    td(width='50', border='0', style='border:none;')
                    td(border='0',align="center", style='border:none;-webkit-text-size-adjust:none;')
                      img(src="images/logo-letter.png",alt="",width="83px",height="76px")
                    td(width='50', border='0', style='border:none;')
                  tr
                    td(colspan="3",border='0', height='20', style='border:none;')

