doctype html
html
  head
    include _head
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот 
        a(href="https://artjoker.ua/ru/blog/how-to-enable-javascript/" target="_blank") инструкции,
        | как включить JavaScript в вашем браузере. 
    //if lte IE 8
      p.off-js
        | Ваш браузер устарел, пожалуйста 
        b обновите
        |  его.
    // PRELOADER
    include _preloader
    // PRELOADER
    //mobile menu
    include _mobile__nav
    .page-wrap
      // wrapper start
      .wrapper
        // header SECTION
        include _header

        // header SECTION
        //breadcrumbs
        section.breadcrumbs
          .container
            ul
              li
                a(href="#") Главная
              li
                span  Результаты поиска

            .head-page Результаты поиска
        //search
        section.search-section
          .container
            .search-top-box
              .head-search
                form(action="#")
                  input(type="search",placeholder="Поиск ",value="Котлы")
                  span.icon-10-search
                  button.btn(type="submit")
                    .btn-animate
                    span Искать
              .search-result Найдено 150 товаров
            .search-container
              .row
                mixin product-slide(img,name)
                  .col.col-product
                    .product-slider-item
                      a(href="#")
                        .product-slider-item__img
                          img(src="assets/images/#{img}.jpg", alt="")
                        .product-slider-item__name= name
                      .product-slider-item__detail Электросеть, В - 220  |  Диаметр подключения, мм - 50  |  Производительность, (м3/час) - 5.5  |  Мощность, кВт - 0.43
                      .product-slider-item__bottom.clearfix
                        .product-price
                          span.old 4 019
                            sub грн
                          span.new 3 519
                            sub грн
                        a(href="#modal-product").modal-trigger.btn
                          .btn-animate
                          span Купить
                +product-slide('prod1','Насос для гидромассажа и домашних SPA Emaux ST033')
                +product-slide('prod2','Насос для гидромассажа и домашних SPA Emaux ST033')
                +product-slide('prod3','Бойлер Bosch Tronic 1000 T ES 050-5 N 0 WIV-B (электрический водонагревтель)')
                +product-slide('prod3','Водопад для бассейна "Дельфин")')
                +product-slide('prod1','Насос для гидромассажа и домашних SPA Emaux ST033')
                +product-slide('prod2','Насос для гидромассажа и домашних SPA Emaux ST033')
                +product-slide('prod3','Бойлер Bosch Tronic 1000 T ES 050-5 N 0 WIV-B (электрический водонагревтель)')
                +product-slide('prod3','Водопад для бассейна "Дельфин")')
                +product-slide('prod3','Водопад для бассейна "Дельфин")')
                +product-slide('prod1','Насос для гидромассажа и домашних SPA Emaux ST033')
      //footer
      include _footer
